/* Large desktop */
@media (min-width: 1200px) {
body {
	background-image: url('../img/background2.jpg');
}
.container {
	background-color: #FFF;
	box-shadow: 0 0 50px 0 hsla(0,0%,0%,.25);
	margin-top: 40px;
	padding: 50px;
}

.header-img {
	margin: 0 0 0px 0;
	box-shadow: 0 0 50px 0 hsla(0,0%,0%,.25);
}

.fish-entry {
	background-image: url('../img/entries_background_grad.png');
	margin-left: 0;
	width: 940px;
	color: white;
	box-shadow: 0 0 50px 0 hsla(0,0%,0%,.25);
}
.fish-entry-container {
	background-image: url('../img/entries_background_motivo.png');
	margin-left: 0;
	box-shadow: 0 0 50px 0 hsla(0,0%,0%,.25) inset;
	padding: 10px 50px;

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;

}
.fish-entry-container:hover {
	opacity: .7;
}
.fish-entry-container:hover h3 {
	text-decoration: underline;
}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}
 
/* Landscape phones and down */
@media (max-width: 480px) {}
