# README
# This file is used to specify directories, files and filetypes to
# ignore when commiting to the repo.

###################################
# Ignore Virtual Enviroment
###################################
vENV

###################################
# Ignore Compiled files
###################################
*.pyc

###################################
# Ignore Compiled C files
# Ignore Obj folder
###################################
AirfishBowl/Obj/
*.o
