<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <!-- CSS -->
		<!-- Import Order Important -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/airfishbowl-rpi.css"/>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
		<title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="container">
			<img class="header-img" src="{{ STATIC_URL }}img/header1.png"/>
			{% block content %}{% endblock %}
    <div id="footer" class="footer span12">
        {% block footer %}
        {% endblock %}
    </div>
    </div>
</body>
