{% extends "RPi_WebServer/base.html" %}
{% block title %}Airfish Index{% endblock %}
{% block head %}
	{{ block.super }}
{% endblock %}
{% block content %}
	<h3 class="hidden">Fishes connected to the network:</h3>
	<a href="http://fish1/" class="fish-entry span12">
	<div class="fish-entry-container">
			<h3>Airfish 0x00</h3>
			<p class="fish-entry-status">Status: <strong class="strong-connected">Connected</strong></p>
			<img class="fish-entry-arrows" src="{{ STATIC_URL }}img/entries_arrows_right.png">
		</div>
	</a>
  
	<a href="#" class="fish-entry span12">
		<div class="fish-entry-container">
			<h3>Airfish 0x01</h3>
			<p class="fish-entry-status">Status: <strong class="strong-connected">Connected</strong></p>
			<img class="fish-entry-arrows" src="{{ STATIC_URL }}img/entries_arrows_right.png"/>
		</div>
	</a>
{% endblock %}
{% block footer %}
Schools of Engineering & Science | Waterford Institute of Technology
{% endblock %}
