@media (min-width: 980px) {
body {
	background-image: url('../../img/background2.jpg');
}
div.clear {
    clear:both;
}

.container {
	background-color: #FFF;
	box-shadow: 0 0 50px 0 hsla(0,0%,0%,.25);
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 50px;
	width: 940px;
}

.header-img {
	margin: 0 0 0px 0;
	box-shadow: 0 0 50px 0 hsla(0,0%,0%,.25);
}
.footer-img {
	margin: 0 0 0px 0;
	box-shadow: 0 0 50px 0 hsla(0,0%,0%,.25);
}

.controller-outer {
	border-top: 10px solid #000;
	border-bottom: 10px solid #000;
}
.controller-left, .controller-right {
	height: 320px;
	width: 470px;
	float: left;
	margin: 0;
}
.controller-left {
	background: #222;
}
.controller-right {
	position: relative;
	background-image: url('../../img/controller/arrows_bk_grad.png');
	background-position: -300px -300px;

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
	.controller-right.pressed-left {
		background-position: 0 -300px;
	}
	.controller-right.pressed-right {
		background-position: -600px -300px;
	}
	.controller-right.pressed-up {
		background-position: -300px 0;
	}
	.controller-right.pressed-down {
		background-position: -300px -600px;
	}

.controller-arrows-outer {
	position: absolute;
	top: 50%;
	margin: -60px 0 0 0;
	height: 120px;
	width: 100%;
	
}
.controller-arrows-inner {
	position: relative;
	margin: auto;
	height: 100%;
	width: 200px;
}
.controller-arrows-left, .controller-arrows-right, .controller-arrows-up, .controller-arrows-down {
	position: absolute;
	height: 53px;
	width: 58px;
	background: white;
	border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 hsla(0,0%,0%,.25);
}
.controller-arrows-up {
	left: 70px;
	top: 0;
}
.controller-arrows-down {
	left: 70px;
	bottom: 0;
}
.controller-arrows-left {
	top: 65px;
	left: 0;
}
.controller-arrows-right {
	top: 65px;
	right: 0;
}
.controller-arrows-pressed {
	background: #557a29;
}


}
 
/* Portrait tablet to landscape and desktop */
/*@media (min-width: 768px) and (max-width: 979px) {}*/
 
/* Landscape phone to portrait tablet */
/*@media (max-width: 767px) {}*/
 
/* Landscape phones and down */
@media (max-width: 979px) {

}